<article class="item-view">
  <div class="content-container">
    <h1 class="big-item-title">
      <%- place.getName() %>
    </h1>

    <div class="item-information place-information">
      <%
        var presentFields = place.getPresentFields('address', 'subway', 'url', 'working_hours', 'phone_numbers');
        var perColumn = presentFields.length > 3 ? Math.ceil(presentFields.length / 2) : 3;
        if (perColumn < presentFields.length) {
          var columns = [
            presentFields.slice(0, perColumn),
            presentFields.slice(perColumn)
          ];
        } else {
          var columns = [presentFields];
        }
      %>

      <% for (var i = 0, column; column = columns[i++];) { %>
        <div class="item-information-group">

        <% for (var j = 0, field; field = column[j++];) { %>
            <% if (field == 'address') { %>
              <div class="item-information-item" title="Адрес">
                <span class="item-information-icon icon-place"></span>
                <span class="item-information-value">
                  <a href="<%- getMapURL(place.data.full_name, place.data.address, location.name, isiOS()) %>" target="_blank">
                    <span class="link-text"><%- place.data.address %></span>&nbsp;<span class="icon-external-link"></span>
                  </a>
                </span>
              </div>
            <% } else if (field == 'subway') { %>
              <div class="item-information-item" title="Ближайшее метро">
                <span class="item-information-icon icon-subway"></span>
                <span class="item-information-value"><%= place.data.subway.split(', ').map(unbreakable).join(', ') %></span>
              </div>
            <% } else if (field == 'working_hours') { %>
              <div class="item-information-item" title="Часы работы">
                <span class="item-information-icon icon-clock"></span>
                <span class="item-information-value"><%= preventBreakingRanges(place.data.working_hours) %></span>
              </div>
            <% } else if (field == 'phone_numbers') { %>
              <div class="item-information-item" title="Номер телефона">
                <span class="item-information-icon icon-phone"></span>
                <span class="item-information-value"><%= place.data.phone_numbers.map(formatPhoneNumber).map(unbreakable).join(', ') %></span>
              </div>
            <% } else if (field == 'url') { %>
              <div class="item-information-item" title="Адрес сайта">
                <span class="item-information-icon icon-globe"></span>
                <span class="item-information-value">
                  <a href="<%- place.data.url %>" target="_blank">
                    <span class="link-text"><%- formatURL(place.data.url) %></span>&nbsp;<span class="icon-external-link"></span>
                  </a>
                </span>
              </div>
            <% } %>
        <% }%>

        </div>
      <% } %>
    </div>
  </div>

  <div class="pager" data-nav-items=".tab" data-slider=".pager-pages-slider">
    <nav class="pager-nav content-container">
      <ul class="tabs">
        <li class="tab active" for=".description-page"><a>Описание</a></li>
        <li class="tab" for=".schedule-page"><a>Афиша</a></li>
      </ul>
    </nav>
    <div class="pager-pages-slider" data-container=".pager-pages-list" data-items=".pager-page">
      <div class="pager-pages-list">
        <div class="pager-page description-page">

          <% if (place.data.images.length) { %>
          <div class="item-slider" data-next-button=".next-button" data-previous-button=".previous-button" data-container=".item-slide-list" data-items=".item-slide">
            <a class="slide-button next-button"<% if (place.data.images.length < 2) { %> hidden<% } %>><span class="icon-chevron-thin-right"></span></a>
            <a class="slide-button previous-button" hidden><span class="icon-chevron-thin-left"></span></a>
            <div class="content-container">
              <ul class="item-slide-list">
                <% place.data.images.forEach(function(image) { %>
                  <li class="item-slide">
                    <img
                      data-sizes="
                        (min-width: 1140px) 750px,
                        (min-width: 720px) 525px,
                        300px
                      "
                      data-srcset="
                        <%- image.image %> 1500w,
                        <%- image.thumbnails["640x384"] %> 640w
                      "
                      data-src="<%- image.thumbnails["640x384"] %>"
                      class="item-slide-image lazyload"/>
                  </li>
                <% }) %>
              </ul>
            </div>
          </div>
          <% } %>
          <div class="content-container">
            <% if (!place.data.lead && !place.data.description) { %>
              <p>Почему-то у нас нет описания этого места 😞</p>
            <% } else { %>
              <div class="item-lead"><%= place.data.lead %></div>
              <div class="item-description"><%= place.data.description %></div>
            <% } %>
          </div>
        </div>
        <div class="pager-page schedule-page">
          <div class="content-container">
            <div class="schedule">
              <%= bigLoader() %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="source-information">
      Источник данных:
      <a href="<%- place.data.source.url %>" target="_blank">
        <span class="link-text"><%- place.data.source.name %></span>
        <span class="icon-external-link"></span></a>.
    </div>
  </div>

  <script type="application/ld+json"><%= JSON.stringify(place.toJSONLD(app)) %></script>
  <script type="application/ld+json"><%= JSON.stringify(breadcrumbs.toJSONLD()) %></script>
</article>