<nav class="calendar-container">
  <ol class="quick-calendar">
    <li>
      <a
        href="<%- url('event-list', {location: current.location.slug}) %>"
        class="
          calendar-day
          any
          <% if (!current.date) { %>active<% } %>
        ">Самое</a>

    <% quickDates.forEach(function(date) { %>
      <% var dateString = dateToString(date) %>
      <li>
        <a
          href="<%- url('event-list', {location: current.location.slug, date: dateString}) %>"
          data-date="<%- dateString %>"
          class="
            calendar-day
            <% if (date.isSame(current.date)) { %> active<% } %>
          ">
          <%- date.format('D') %><br/><%- date.format('dd') %>
        </a>
    <% }) %>
  </ol>
</nav>