<div class="calendar-container">
  <ol class="calendar">
    <li class="calendar-day any<% if (!current.date) { %> active<% } %>">
      <a href="<%- buildURL(current.location) %>">Самое</a>
    <% dates.forEach(function(date) { %>
      <% var dateString = date.format('YYYY-MM-DD') %>
      <li class="calendar-day<% if (dateString == current.date) { %> active<% } %>" data-date="<%- dateString %>">
        <a href="<%- buildURL(current.location, dateString) %>">
          <%- date.format('D') %><br/><%- date.format('dd').toLowerCase() %>
        </a>
    <% }) %>
  </ol>
</div>