<% var place = event.getPlace() %>
<% var parent = event.getParent() %>

<article class="item-view">
  <div class="item-slider" data-next-button=".next-button" data-previous-button=".previous-button" data-container=".item-slide-list" data-items=".item-slide">
    <a class="slide-button next-button"<% if (event.data.images.length < 2) { %> hidden<% } %>><span class="icon-chevron-thin-right"></span></a>
    <a class="slide-button previous-button" hidden><span class="icon-chevron-thin-left"></span></a>
    <div class="content-container">
      <ul class="item-slide-list">
        <% event.data.images.forEach(function(image) { %>
          <li class="item-slide">
            <img
              data-sizes="
                (min-width: 1140px) 750px,
                (min-width: 720px) 525px,
                300px
              "
              data-srcset="
                <%- image.image %> 1500w,
                <%- image.thumbnails["640x384"] %> 640w
              "
              data-src="<%- image.thumbnails["640x384"] %>"
              class="item-slide-image lazyload"/>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>

  <div class="content-container">
    <% if (event.isFestival() || event.isPremiere()) { %>
    <div class="badges-block">
      <% if (event.isFestival()) { %>
        <span class="badge festival-badge">Фестиваль</span>
      <% } else if (event.isPremiere()) { %>
        <span class="badge premiere-badge">Премьера</span>
      <% } %>
    </div>
    <% } %>

    <h1 class="big-item-title">
      <%- event.getName() %>
      <span class="big-item-tagline"><%- event.data.tagline %></span>
    </h1>

    <div class="item-information">
      <div class="item-information-group">
        <% if (place) { %>
          <div class="item-information-item item-place">
            <span class="item-information-icon icon-place" title="Место проведения"></span>
            <span class="item-information-value">
              <% if (place.isStub()) { %>
                <%- place.getName() %>
                <% if (place.data.address) { %>
                  <br/>
                  <a href="<%- getMapURL(place.data.full_name, place.data.address, location.name, isiOS()) %>" target="_blank" class="item-place-address-link">
                    <span class="link-text"><%- place.data.address %></span>&nbsp;<span class="icon-external-link"></span>
                  </a>
                <% } else { %>
                  <%- place.getName() %>
                <% } %>
              <% } else { %>
                <a href="<%- url('place', {id: place.data.id}) %>">
                  <span class="link-text"><%- place.getName() %></span>
                </a>
              <% } %>
            </span>
          </div>
        <% } %>

        <% if (parent) { %>
          <div class="item-information-item">
            <span class="item-information-icon icon-star" title="Проходит в рамках"></span>
            <span class="item-information-value">
              <a href="<%- url('event', {id: parent.data.id}) %>">
                <span class="link-text"><%- parent.getFullName() %></span>
              </a>
            </span>
          </div>
        <% } %>

        <% var price = event.data.price %>
        <% if (price.text) { %>
          <div class="item-information-item">
            <span class="item-information-icon icon-rouble" title="Цена билета"></span>
            <span class="item-information-value">
            <% if (price.lower != null || price.upper != null) { %>
              <%- formatPriceRange(price.lower, price.upper, location.currency) %>
            <% } else { %>
              <%- price.text %>
            <% } %>
            </span>
          </div>
        <% } %>

        <% var duration = event.getDisplayDuration() %>
        <% if (duration && duration.asMinutes() > 0) { %>
          <div class="item-information-item">
            <span class="item-information-icon icon-clock" title="Продолжительность"></span>
            <span class="item-information-value"><%- formatDuration(duration) %></span>
          </div>
        <% } %>

        <div class="item-information-item">
          <span class="item-information-icon icon-calendar" title="Даты"></span>
          <span class="item-information-value">
            <ol class="item-dates">
            <% event.getDisplayDates().forEach(function(date) { %>
              <% var isLong = date.getDuration().asDays() > 1 %>
              <% var isPast = !date.isActual() %>
              <li class="<% if (isLong) { %>double-size<% } %><% if (isPast) { %> past<% } %>">
                <% if (date.isDateBased || isLong) { %>
                  <div class="item-date">
                    <div class="item-day"><%- date.start.format('D MMMM') %></div>
                    <div class="item-day-of-week"><%- date.start.format('dddd') %></div>
                  </div>
                  <% if (isLong) {%>
                    &ndash;
                    <div class="item-date">
                      <div class="item-day"><%- date.end.format('D MMMM') %></div>
                      <div class="item-day-of-week"><%- date.end.format('dddd') %></div>
                    </div>
                  <% } %>
                <% } else { %>
                  <div class="item-date">
                    <div class="item-day"><%- date.start.format('D MMMM') %></div>
                    <div class="item-day-of-week"><%- date.start.format('dddd') %></div>
                  </div>
                  <div class="item-time">
                    <% if (date.hasKnownEnd()) { %>
                      <%- date.start.format('LT') %>&ndash;<%- date.end.format('LT') %>
                    <% } else { %>
                      <%- date.start.format('LT') %>
                    <% } %>
                  </div>
                <% } %>
              </li>
            <% }) %>
            </ol>
          </span>
        </div>
      </div>
    </div>

<% if (event.isFestival() && event.hasChildren()) { %>
  </div>
  <div class="pager" data-nav-items=".tab" data-slider=".pager-pages-slider">
    <nav class="pager-nav content-container">
      <ul class="tabs">
        <li class="tab active" for=".description-page"><a>Описание</a></li>
        <li class="tab" for=".schedule-page"><a>Программа</a></li>
      </ul>
    </nav>
    <div class="pager-pages-slider" data-container=".pager-pages-list" data-items=".pager-page">
      <div class="pager-pages-list">
        <div class="pager-page description-page">
          <div class="content-container">
<% } %>

    <div class="item-lead"><%= event.data.lead %></div>
    <div class="item-description"><%= event.data.description %></div>

    <div class="source-information">
      Источник данных:
      <a href="<%- event.data.source.url %>" target="_blank">
        <span class="link-text"><%- event.data.source.name %></span>
        <span class="icon-external-link"></span></a>.
    </div>

<% if (event.isFestival() && event.hasChildren()) { %>
          </div>
        </div>
        <div class="pager-page schedule-page">
          <div class="content-container">
            <div class="schedule">
              <%= bigLoader() %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% } %>

  </div>

  <% event.getDates().forEach(function(date) { %>
  <script type="application/ld+json"><%= JSON.stringify(date.toJSONLD(app)) %></script>
  <% }) %>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "<%- url('location', {location: location.slug}) %>",
          "name": "<%- location.name %>"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "<%- url('event-list', {location: location.slug}) %>",
          "name": "Спектакли"
        }
      }
    ]
  }
  </script>

</article>