<% var place = event.getPlace() %>

<article class="item-view">
  <div class="item-slider" data-next-button=".next-button" data-previous-button=".previous-button" data-container=".item-slide-list" data-items=".item-slide">
    <a class="slide-button next-button"<% if (event.data.images.length < 2) { %> hidden<% } %>><span class="icon-chevron-thin-right"></span></a>
    <a class="slide-button previous-button" hidden><span class="icon-chevron-thin-left"></span></a>
    <div class="content-container">
      <ul class="item-slide-list">
        <% event.data.images.forEach(function(image) { %>
          <li class="item-slide">
            <img
              data-sizes="
                (min-width: 1140px) 750px,
                (min-width: 720px) 525px,
                300px
              "
              data-srcset="
                <%- image.image %> 1500w,
                <%- image.thumbnails["640x384"] %> 640w
              "
              data-src="<%- image.thumbnails["640x384"] %>"
              class="item-slide-image lazyload"/>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>

  <div class="content-container">
    <% if (event.isFestival()) { %>
    <div class="festival-badge-block">
      <span class="festival-badge">Фестиваль</span>
    </div>
    <% } %>

    <h1 class="big-item-title">
      <%- event.getShortTitle() %>
      <span class="big-item-tagline"><%- event.data.tagline %></span>
    </h1>

    <div class="item-information">
      <div class="item-information-group">
        <% if (place) { %>
          <div class="item-information-item item-place">
            <span class="item-information-icon icon-place" title="Место проведения"></span>
            <span class="item-information-value">
              <% if (place.isStub()) { %>
                <%- place.getTitle() %>
              <% } else { %>
                <a href="<%- url('place', {id: place.data.id}) %>">
                  <span class="link-text"><%- place.getTitle() %></span>
                </a>
              <% } %>
            </span>
          </div>
        <% } %>

        <% if (event.data.price) { %>
          <div class="item-information-item">
            <span class="item-information-icon icon-rouble" title="Цена билета"></span>
            <span class="item-information-value"><%- event.data.price %></span>
          </div>
        <% } %>

        <div class="item-information-item">
          <span class="item-information-icon icon-calendar" title="Даты"></span>
          <span class="item-information-value">
            <ol class="item-dates">
            <% event.getDisplayDates().forEach(function(date) { %>
              <% var start = moment.unix(date.start).tz(location.timezone) %>
              <% var end = moment.unix(date.end).tz(location.timezone) %>
              <% var isRange = end && !start.isSame(end, 'day') %>
              <li<% if (isRange) { %> class="double-size"<% } %>>
                <div class="item-date">
                  <div class="item-day"><%- start.format('D MMMM') %></div>
                  <div class="item-day-of-week"><%- start.format('dddd') %></div>
                </div>
                <% if (!end || start.isSame(end, 'minute')) { %>
                  <div class="item-time"><%- start.format('LT') %></div>
                <% } else if (start.isSame(end, 'day')) { %>
                  <div class="item-time"><%- start.format('LT') %>&ndash;<%- end.format('LT') %></div>
                <% } else { %>
                  &ndash;
                  <div class="item-date">
                    <div class="item-day"><%- end.format('D MMMM') %></div>
                    <div class="item-day-of-week"><%- end.format('dddd') %></div>
                  </div>
                <% } %>
              </li>
            <% }) %>
            </ol>
          </span>
        </div>
      </div>
    </div>

<% if (event.isFestival()) { %>
  </div>
  <div class="pager" data-nav-items=".tab" data-slider=".pager-pages-slider">
    <nav class="pager-nav content-container">
      <ul class="tabs">
        <li class="tab active" for=".description-page"><a>Описание</a></li>
        <li class="tab" for=".schedule-page"><a>Программа</a></li>
      </ul>
    </nav>
    <div class="pager-pages-slider" data-container=".pager-pages-list" data-items=".pager-page">
      <div class="pager-pages-list">
        <div class="pager-page description-page">
          <div class="content-container">
<% } %>

    <div class="item-description"><%= event.data.description %></div>
    <div class="item-text"><%= event.data.body_text %></div>
    <div class="source-information">
      Источник данных: <a href="<%- event.data.site_url %>" target="_blank">kudago.com</a>.
    </div>

<% if (event.isFestival()) { %>
          </div>
        </div>
        <div class="pager-page schedule-page">
          <div class="content-container">
            <div class="schedule">
              <%= bigLoader() %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% } %>

  </div>

  <% event.getDates().forEach(function(date) { %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "<% if (event.isFestival()) { %>Festival<% } else { %>TheaterEvent<% } %>",
    "name": "<%- event.getShortTitle() %>",
    "startDate": "<%- moment.unix(date.start).tz(location.timezone).format() %>",
    <% if (date.end && date.end !== date.start) { %>"endDate": "<%- moment.unix(date.end).tz(location.timezone).format() %>",<% } %>
    "location": {
      "@type": "Place",
      <% if (!place.isStub()) { %>"url": "<%- url('place', {id: place.data.id}) %>",<% } %>
      "name": "<%- place.getTitle() %>",
      "address": "<%- place.data.address %>"
    }
  }
  </script>
  <% }) %>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "<%- url('location', {location: location.slug}) %>",
          "name": "<%- location.name %>"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "<%- url('event-list', {location: location.slug}) %>",
          "name": "Спектакли"
        }
      }
    ]
  }
  </script>

</article>