<div class="item-view">
  <div class="item-slider" data-next-button=".next-button" data-previous-button=".previous-button" data-container=".item-slide-list" data-items=".item-slide">
    <a class="slide-button next-button"<% if (event.data.images.length < 2) { %> hidden<% } %>><span class="icon-chevron-thin-right"></span></a>
    <a class="slide-button previous-button" hidden><span class="icon-chevron-thin-left"></span></a>
    <div class="content-container">
      <ul class="item-slide-list">
        <% event.data.images.forEach(function(image) { %>
          <li class="item-slide">
            <img
              data-sizes="
                (min-width: 1140px) 750px,
                (min-width: 720px) 525px,
                300px
              "
              data-srcset="
                <%- image.image %> 1500w,
                <%- image.thumbnails["640x384"] %> 640w
              "
              data-src="<%- image.thumbnails["640x384"] %>"
              class="item-slide-image lazyload"/>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>

  <div class="content-container">
    <% if (event.isFestival()) { %>
    <div class="festival-badge-block">
      <span class="festival-badge">Фестиваль</span>
    </div>
    <% } %>

    <h2 class="big-item-title">
      <%- event.getShortTitle() %>
      <span class="big-item-tagline"><%- event.data.tagline %></span>
    </h2>

    <div class="item-information">
      <div class="item-information-group">
        <% var place = event.getPlace() %>
        <% if (place) { %>
          <div class="item-information-item item-place">
            <span class="item-information-icon icon-place"></span>
            <% if (place.data.is_stub) { %>
              <%- capfirst(place.data.title) %>
            <% } else { %>
              <a href="<%- url('place', {id: place.data.id}) %>">
                <span class="link-text"><%- capfirst(place.data.title) %></span>
              </a>
            <% } %>
          </div>
        <% } %>

        <% if (event.data.price) { %>
          <div class="item-information-item">
            <span class="item-information-icon icon-rouble"></span>
            <%- event.data.price %>
          </div>
        <% } %>

        <div class="item-information-item">
          <span class="item-information-icon icon-calendar"></span>
          <ol class="item-dates">
          <% event.getDisplayDates().forEach(function(date) { %>
            <% var start = moment.tz(date.start * 1000, location.timezone) %>
            <% var end = date.end ? moment.tz(date.end * 1000, location.timezone) : null %>
            <% var isRange = end && !start.isSame(end, 'day') %>
            <li<% if (isRange) { %> class="double-size"<% } %>>
              <div class="item-date">
                <div class="item-day"><%- start.format('D MMMM').toLowerCase() %></div>
                <div class="item-day-of-week"><%- start.format('dddd').toLowerCase() %></div>
              </div>
              <% if (!end || start.isSame(end, 'minute')) { %>
                <div class="item-time"><%- start.format('LT') %></div>
              <% } else if (start.isSame(end, 'day')) { %>
                <div class="item-time"><%- start.format('LT') %>&ndash;<%- end.format('LT') %></div>
              <% } else { %>
                &ndash;
                <div class="item-date">
                  <div class="item-day"><%- end.format('D MMMM').toLowerCase() %></div>
                  <div class="item-day-of-week"><%- end.format('dddd').toLowerCase() %></div>
                </div>
              <% } %>
            </li>
          <% }) %>
          </ol>
        </div>
      </div>
    </div>

    <div class="item-description"><%= event.data.description %></div>
    <div class="item-text"><%= event.data.body_text %></div>
    <div class="source-information">
      Источник данных: <a href="<%- event.data.site_url %>" target="_blank">kudago.com</a>.
    </div>
  </div>
</div>