<a href="<%- app.resolver.reverse('event', {id: item.id}) %>" class="feed-item-link">
  <div class="feed-image-container">
    <img data-src="<%- item.images[0].thumbnails['640x384'] %>" class="feed-image lazyload"/>
  </div>
  <h2 class="item-header">
    <%- capfirst(item.short_title || item.title) %>
    <% if (item.categories.indexOf('festival') !== -1) { %>
      <span class="festival-badge">Фестиваль</span>
    <% } %>
  </h2>
</a>

<% if (item.tagline) { %>
  <div class="tagline"><%- item.tagline %></div>
<% } %>

<% if (item.place) { %>
  <div class="place">
    <% if (item.place.is_stub) { %>
      <%- capfirst(item.place.title) %>
    <% } else { %>
      <a href="<%- app.resolver.reverse('place', {id: item.place.id}) %>">
        <span class="link-text"><%- capfirst(item.place.title) %></span>
      </a>
    <% } %>
  </div>
<% } %>

<% if (!item.tagline && !item.place && item.description) { %>
  <div class="tagline">
  <%= item.description %>
  </div>
<% } %>