<li class="feed-item">
  <a href="<%- url('place', {id: place.data.id}) %>" class="feed-item-link">
    <div class="feed-image-container">
      <img data-src="<%- place.data.images[0].thumbnails['640x384'] %>" class="feed-image lazyload"/>
    </div>
    <h2 class="item-header">
      <%- place.getName() %>
    </h2>
  </a>
  <div class="tagline"><%- place.data.address %></div>
  <script type="application/ld+json"><%= JSON.stringify(place.toJSONLD(app)) %></script>
</li>