<li class="feed-item">
  <a href="<%- url('event', {id: event.data.id}) %>" class="feed-item-link">
    <div class="feed-image-container">
      <img data-src="<%- event.data.images[0].thumbnails['640x384'] %>" class="feed-image lazyload"/>
    </div>
    <h2 class="item-header">
      <%- event.getName() %>
      <% if (event.isFestival()) { %>
        <span class="badge festival-badge">Фестиваль</span>
      <% } else if (event.isPremiere()) { %>
        <span class="badge premiere-badge">Премьера</span>
      <% } %>
    </h2>
  </a>

  <% if (event.data.tagline) { %>
    <div class="tagline"><%- event.data.tagline %></div>
  <% } else if (event.isFestival() && event.data.lead) { %>
    <div class="tagline"><%= event.data.lead %></div>
  <% } %>

  <% var place = event.getPlace() %>

  <% if (place) { %>
    <div class="place">
      <% if (place.isStub()) { %>
        <%- place.getName() %>
      <% } else { %>
        <a href="<%- url('place', {id: place.data.id}) %>">
          <span class="link-text"><%- place.getName() %></span>
        </a>
      <% } %>
    </div>
  <% } %>
</li>
