<div class="item-images-container" data-next-button=".next-button" data-previous-button=".previous-button" data-container=".item-images" data-items=".item-image">
  <a class="slide-button next-button"<% if (event.images.length < 2) { %> hidden<% } %>><span class="icon-chevron-thin-right"></span></a>
  <a class="slide-button previous-button" hidden><span class="icon-chevron-thin-left"></span></a>
  <div class="item-view-inner">
    <ul class="item-images">
      <% event.images.forEach(function(image) { %>
        <li class="item-image">
          <img
            data-sizes="
              (min-width: 1140px) 750px,
              (min-width: 720px) 525px,
              300px
            "
            data-srcset="
              <%= image.image %> 1500w,
              <%= image.thumbnails["640x384"] %> 640w
            "
            data-src="<%= image.thumbnails["640x384"] %>"
            class="lazyload"/>
        </li>
      <% }) %>
    </ul>
  </div>
</div>
<div class="item-view-inner">
  <h2 class="big-item-title">
    <%= capfirst(event.short_title || event.title) %>
    <span class="big-item-tagline"><%= event.tagline %></span>
  </h2>
  <div class="item-information">
    <% if (event.place) { %>
      <div class="item-information-item item-place"><%= capfirst(event.place.title) %></div>
    <% } %>
    <div class="item-information-item"><%= event.price %></div>
    <ol class="item-dates">
    <% dates.forEach(function(date) { %>
      <% var start = moment.tz(date.start * 1000, location.timezone) %>
      <% var end = date.end ? moment.tz(date.end * 1000, location.timezone) : null %>
      <% var isRange = end && !start.isSame(end, 'day') %>
      <li<% if (isRange) { %> class="double-size"<% } %>>
        <div class="item-date">
          <div class="item-day"><%= start.format('D MMMM') %></div>
          <div class="item-day-of-week"><%= start.format('dddd') %></div>
        </div>
        <% if (!end) { %>
          <div class="item-time"><%= start.format('LT') %></div>
        <% } else if (start.isSame(end, 'day')) { %>
          <div class="item-time"><%= start.format('LT') %>&ndash;<%= end.format('LT') %></div>
        <% } else { %>
          &ndash;
          <div class="item-date">
            <div class="item-day"><%= end.format('D MMMM') %></div>
            <div class="item-day-of-week"><%= end.format('dddd') %></div>
          </div>
        <% } %>
      </li>
    <% }) %>
    </ol>
  </div>
  <div class="item-description"><%- event.description %></div>
  <div class="item-text"><%- event.body_text %></div>
</div>