<li class="feed-item<% if (!event.isActual()) { %> past<% } %>">
  <a href="<%- url('event', {id: event.data.id}) %>" class="feed-item-link">
    <div class="feed-image-container">
      <% if (event.data.first_image) { %>
      <img data-src="<%- event.data.first_image.thumbnails['640x384'] %>" class="feed-image lazyload"/>
      <% } %>
    </div>
    <div class="feed-item-header-container">
      <h2 class="feed-item-header"><%- event.getName() %></h2>

      <% var isFestival = event.isFestival() %>
      <% var isPremiere = event.isPremiere() %>
      <% if (event.data.age_restriction || isFestival || isPremiere) { %>
        <span class="badges">
          <% if (event.data.age_restriction) { %>
            <span class="badge age-restriction-badge"><%= event.data.age_restriction %></span>
          <% } %>

          <% if (isFestival) { %>
            <span class="badge festival-badge">Фестиваль</span>
          <% } else if (isPremiere) { %>
            <span class="badge premiere-badge">Премьера</span>
          <% } %>
        </span>
      <% } %>
    </div>
  </a>

  <% if (event.data.lead) { %>
    <div class="tagline"><%= event.data.lead %></div>
  <% } %>

  <% var place = event.getPlace() %>

  <% if (place) { %>
    <div class="place">
      <% if (place.isStub()) { %>
        <%- place.getName() %>
      <% } else { %>
        <a href="<%- url('place', {id: place.data.id}) %>">
          <span class="link-text"><%- place.getName() %></span>
        </a>
      <% } %>
    </div>
  <% } %>
</li>
