<li class="feed-item">
  <a href="<%- url('place', {id: place.data.id}) %>" class="feed-item-link">
    <div class="feed-image-container">
      <% if (place.data.first_image) { %>
      <img data-src="<%- place.data.first_image.thumbnails['640x384'] %>" class="feed-image lazyload"/>
      <% } %>
    </div>
    <h2 class="item-header">
      <%- place.getName() %>
    </h2>
  </a>
  <div class="tagline">
    <a href="<%- getMapURL(place.getName(), place.data.address, place.getLocation().name, isiOS()) %>" target="_blank">
      <span class="link-text"><%- place.data.address %></span>
    </a>
  </div>
  <script type="application/ld+json"><%= JSON.stringify(place.toJSONLD(app)) %></script>
</li>