<div class="schedule">
  <table class="schedule-table" cellspacing="0" cellpadding="0">
    <% rangeGroups.forEach(function(group) { %>
      <% var isPast = group.range.end.isBefore(moment(), 'day') %>
      <% var isLong = !group.range.start.isSame(group.range.end, 'day') %>
      <tbody class="schedule-day-body<% if (isPast) { %> past<% } %>">
        <tr class="schedule-row">

        <% if (isLong) { %>
          <td rowspan="<%- group.items.length %>" colspan="2" class="schedule-date-cell">
            <div class="item-date">
              <div class="item-day"><%- group.range.start.format('D MMMM') %></div>
            </div>
            &ndash;
            <div class="item-date">
              <div class="item-day"><%- group.range.end.format('D MMMM') %></div>
            </div>
          </td>
          <% group.items.forEach(function(date, index) { %>
            <% var event = date.event %>
            <% var isLastThisDay = index === group.items.length - 1 %>
            <td class="schedule-title-cell">
              <div class="schedule-item-title-container">
                <a href="<%- url('event', {id: event.data.id }) %>">
                  <h2 class="schedule-item-title link-text"><%- event.getName() %></h2>

                  <% var isFestival = event.isFestival() %>
                  <% var isPremiere = event.isPremiere() %>
                  <% if (event.data.age_restriction || isFestival || isPremiere) { %>
                    <span class="badges">
                      <% if (event.data.age_restriction) { %>
                        <span class="badge age-restriction-badge"><%= event.data.age_restriction %></span>
                      <% } %>

                      <% if (isFestival) { %>
                        <span class="badge festival-badge">Фестиваль</span>
                      <% } else if (isPremiere) { %>
                        <span class="badge premiere-badge">Премьера</span>
                      <% } %>
                    </span>
                  <% } %>
                </a>
              </div>

              <% if (event.data.tagline) { %>
                <p class="schedule-item-tagline"><%- event.data.tagline %></p>
              <% } %>
              <script type="application/ld+json"><%= JSON.stringify(date.toJSONLD(app)) %></script>
            </td>
          </tr><% if (!isLastThisDay) { %><tr class="schedule-row"><% } %>
          <% }) %>

        <% } else { %>
          <td rowspan="<%- group.items.length %>" class="schedule-date-cell">
            <div class="item-day"><%- group.range.start.format('D MMMM') %></div>
            <div class="item-day-of-week"><%- group.range.start.format('dddd') %></div>
          </td>
          <% group.items.forEach(function(date, index) { %>
            <% var event = date.event %>
            <% var isLastThisDay = index === group.items.length - 1 %>
            <td class="schedule-time-cell">
              <% if (!date.isDateBased) { %><div class="schedule-time"><%- date.start.format('LT') %></div><% } %>
            </td>
            <td class="schedule-title-cell">
              <div class="schedule-item-title-container">
                <a href="<%- url('event', {id: event.data.id }) %>">
                  <h2 class="schedule-item-title link-text"><%- event.getName() %></h2>

                  <% var isFestival = event.isFestival() %>
                  <% var isPremiere = event.isPremiere() %>
                  <% if (event.data.age_restriction || isFestival || isPremiere) { %>
                    <span class="badges">
                      <% if (event.data.age_restriction) { %>
                        <span class="badge age-restriction-badge"><%= event.data.age_restriction %></span>
                      <% } %>

                      <% if (isFestival) { %>
                        <span class="badge festival-badge">Фестиваль</span>
                      <% } else if (isPremiere) { %>
                        <span class="badge premiere-badge">Премьера</span>
                      <% } %>
                    </span>
                  <% } %>
                </a>
              </div>

              <% if (event.data.tagline) { %>
                <p class="schedule-item-tagline"><%- event.data.tagline %></p>
              <% } %>
              <script type="application/ld+json"><%= JSON.stringify(date.toJSONLD(app)) %></script>
            </td>
          </tr><% if (!isLastThisDay) { %><tr class="schedule-row"><% } %>
          <% }) %>
        <% } %>

        </tr>
      </tbody>
    <% }) %>
  </table>
</div>
