<li class="search-result<% if (!event.isActual()) { %> past<% } %>">
  <div class="search-result-image-container">
    <a href="<%- url('event', {id: event.data.id}) %>">
      <img src="<%- event.data.images[0].thumbnails['144x96'] %>" class="search-result-image"/>
    </a>
  </div>

  <div class="search-result-details">
    <a href="<%- url('event', {id: event.data.id}) %>">
      <h2>
        <%= event.getHighlightedName() %>

        <% if (event.data.age_restriction) { %>
          <span class="badge age-restriction-badge"><%= event.data.age_restriction %></span>
        <% } %>

        <% if (event.isFestival()) { %>
          <span class="badge festival-badge">Фестиваль</span>
        <% } else if (event.isPremiere()) { %>
          <span class="badge premiere-badge">Премьера</span>
        <% } %>
      </h2>
    </a>

    <% var place = event.getPlace() %>
    <% if (place) { %>
      <p class="meta">
        <% if (place.isStub()) { %>
          <%- place.getName() %>
        <% } else { %>
          <a href="<%- url('place', {id: place.data.id}) %>">
            <span class="link-text"><%- place.getName() %></span>
          </a>
        <% } %>
      </p>
    <% } %>

    <% if (event.data.tagline) { %>
      <p><%- event.data.tagline %></p>
    <% } else if (event.isFestival() && event.data.lead) { %>
      <p><%= event.data.lead %></p>
    <% } %>
  </div>
</li>
