<li class="search-result">
  <div class="search-result-image-container">
    <% if (place.data.images.length) { %>
    <a href="<%- url('place', {id: place.data.id}) %>">
      <img data-src="<%- place.data.images[0].thumbnails['144x96'] %>" class="search-result-image lazyload"/>
    </a>
    <% } %>
  </div>

  <div class="search-result-details">
    <a href="<%- url('place', {id: place.data.id}) %>">
      <h2>
        <%= place.getHighlightedName() %>
      </h2>
    </a>

    <% if (place.data.address) { %>
      <p class="meta">
        <%- place.data.address %>
      </p>
    <% } %>
  </div>
</li>